<ul class="sidebar-nav">
  <li routerLinkActive="active">
    <a routerLink="/configuration/user">
      <span class="icon">
        <i class="fa fa-users" aria-hidden="true"></i>
      </span> {{'LBL_USER' | i18n}}
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/configuration/nvr">
      <span class="icon">
        <i class="glyphicon glyphicon-globe" aria-hidden="true"></i>
      </span> {{'LBL_NVR_SETTINGS' | i18n}}
    </a>
  </li>
  <!-- <li routerLinkActive="active">
    <a routerLink="/configuration/general">
      <span class="icon">
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </span> General Settings
    </a>
  </li> -->
  <li routerLinkActive="active">
    <a routerLink="/configuration/location">
      <span class="icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </span> {{'LBL_LOCATION_SETTINGS' | i18n}}
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/configuration/about">
      <span class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </span> {{'LBL_ABOUT' | i18n}}
    </a>
  </li>
</ul>
